<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polimi.group11">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreditsActivity"
            android:label="@string/title_activity_credits"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.group11.MainActivity" />
        </activity>
        <activity
            android:name=".SelectPlayersActivity"
            android:label="@string/title_activity_select_players"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.group11.MainActivity" />
        </activity>
        <activity
            android:name=".OptionsActivity"
            android:label="@string/title_activity_options"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.group11.MainActivity" />
        </activity>
        <activity
            android:name=".PlayGameActivity"
            android:label="@string/title_activity_play_game"
            android:parentActivityName=".SelectPlayersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.group11.SelectPlayersActivity" />
        </activity>
        <activity
            android:name=".AddProfileActivity"
            android:label="@string/title_activity_add_profile"
            android:parentActivityName=".ChoosePlayerTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.group11.ChoosePlayerTypeActivity" />
        </activity>
        <activity
            android:name=".ViewProfileListActivity"
            android:label="@string/title_activity_view_profile_list"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.group11.MainActivity" />
        </activity>
        <activity
            android:name=".ViewProfileStatistics"
            android:label="@string/title_activity_view_profile_statistics"
            android:parentActivityName=".ViewProfileListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.group11.ViewProfileListActivity" />
        </activity>
        <activity
            android:name=".ChoosePlayerTypeActivity"
            android:label="@string/title_activity_choose_player_type"
            android:parentActivityName=".SelectPlayersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.group11.SelectPlayersActivity" />
        </activity>
        <activity
            android:name=".ViewProfilesSelectionActivity"
            android:label="@string/title_activity_view_profiles_selection"
            android:parentActivityName=".ChoosePlayerTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.group11.ChoosePlayerTypeActivity" />
        </activity>
        <activity
            android:name=".LeaderboardActivity"
            android:label="@string/title_activity_leaderboard"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.group11.MainActivity" />
        </activity>
        <activity
            android:name=".ViewProfileLeaderboardActivity"
            android:label="@string/title_activity_view_profile_leaderboard"
            android:parentActivityName=".LeaderboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.group11.LeaderboardActivity" />
        </activity>
        <activity
            android:name=".CreateMatchActivity"
            android:label="@string/title_activity_create_match"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewMatchStatisticsActivity"
            android:label="@string/title_activity_view_match_statistics"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
